@font-face {
  font-family: "CG pixel 4x5 mono Regular";
  src: url(pixel_small.ttf) format("truetype");
}
@font-face {
  font-family: "Early Gameboy Regular";
  src: url(gameboy.ttf) format("truetype");
}
@font-face {
  font-family: "Minecraft Five Regular";
  src: url("Minecraft Five.otf") format("opentype")
  }
body {
  background-color: #2b293a;
}
body.dni {
  background-color: #572a2a;
}
.heading {
  /* Container holding the image and the text */
  position: fixed;
  text-align: center;
  color: white;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.button_tab {
  /* Container holding the image and the text */
  position: relative;
  text-align: center;
  color: white;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.speech {
  /* Container holding the image and the text */
  position: fixed;
  left:50%;
  right:50%;
  top:300px;
  height: fit-content;
  max-width: 512px;
  min-width: 384px;
  transform: translate(-50%, -50%);
  text-align: left;
}
li.nav {
  float: left;
  display: inline;
  font-family: 'CG pixel 4x5 mono Regular';
  font-size: 10px;
}
.slash-icon {
  position: fixed;
  font-family: 'CG pixel 4x5 mono Regular';
  font-size: 15px;
  bottom: 20px;
  left: 16px
}
.slash-icon:hover {
  filter: hue-rotate(-270deg);
}
.home-icon {
  position: fixed;
  font-family: 'CG pixel 4x5 mono Regular';
  font-size: 15px;
  bottom: 20px;
  left: 84px
}
.home-icon:hover {
  filter: hue-rotate(-270deg);
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.nav {
      display: block;
      padding: 8px;
}
.sideR {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: auto;
}
.sideL {
  position: fixed;
  top: 0;
  left: 0;
  margin-right: auto;
}
p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}
@media (max-width: 767px) {
  .sideR {
      display:none;
  }
    .sideL {
      display:none;
  }
}
p1.title {
  color: white;
  font-size: xx-large;
  font-family: 'Early Gameboy Regular';
  position: relative
}
p2 {
  color: white;font-size: small;
  font-family: 'Minecraft Five Regular', sans-serif;
  text-align: center;
}
a {
  color:#e7daec; 
  text-decoration: none;
}
xtra-icons {
 color:white;
 padding-right: 20px;
}
xtra-icons:hover {
  filter: hue-rotate(-270deg);
}